/* app css stylesheet */

body {
  font-family: 'Roboto', sans-serif;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

h1, h2 {
  color: #415b76;
  font-weight: bold;
}

#logo {
  padding-right: 72px;
}

#header {
  background: #415b76;
  padding: 12px 0 12px;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 12px;
  z-index: 100;
}

#header a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 6px;
}

#header a:hover {
  background: none;
  color: #CFE3FD;
}

#header a.active {
  background: none;
  color: #CFE3FD;
}

.connect-logo:hover {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-transform: scale(1.18);
  -moz-transform: scale(1.18);
  -ms-transform: scale(1.18);
  -o-transform: scale(1.18);
  transform: scale(1.18);
}

.navbar-toggle .icon-bar {
  display: block;
  width: 32px;
  height: 4px;
  margin-top: 8px;
  background-color: #fff;
  border-radius: 1px;
}

.navbar-toggle:hover .icon-bar {
  background-color: #C0D4ED;
}

.rotate-text-left {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.skill-container {
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 32px;
}

.bracket-left {
  background-image: url(../img/bracket-left.png);
  background-repeat: no-repeat;
  background-size: 32px 100%;
}

.bracket-right {
  background-image: url(../img/bracket-right.png);
  background-repeat: no-repeat;
  background-size: 32px 100%;
  background-position: right;
}

.skill-list {
  list-style-type: none;
}

.progress-flat {
  margin-bottom: 0;
}

.progress-flat .progress-bar {
  background: #1abc9c;
}

.svg-pie-chart-label {
  fill: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.no-selection-allowed {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide-animate-container {
  position:relative;
  background:white;
  overflow:visible;
  height: 10px;
}

.slide-animate {
  z-index: 1;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.slide-animate.ng-enter {
  left:1200px;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  opacity:1;
}
.slide-animate.ng-leave.ng-leave-active {
  opacity:0;
}