<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div style="position: absolute; width: 33%; top: 38%; left:33%">
				<h2 class="text-center no-selection-allowed" style="color: {{selectedView.color}};">{{selectedView.title}}</h2>
			</div>
			<div ac-chart="pieType" ac-data="pieData" ac-config="pieConfig" id='chart' class='chart' 
				 style="width: 100%; height: 360px; -webkit-transform: rotate({{selectedView.angle}}deg); -webkit-transition:1s;">
			</div>
		</div>
		<div class="col-sm-8 slide-animate-container">
			<div class="slide-animate" data-ng-include="selectedView.path"></div>
		</div>
	</div>
</div>