<div class="row page-content">
	<div class="col-lg-12 background-smartphone">
		<div class="row col-lg-12" ng-repeat="skill in skillList">
			<div class="skill-tile">
				<img src="{{skill.logoUrl}}" ng-if="skill.logoUrl != undefined">
				<h1 ng-if="skill.logoUrl == undefined">{{skill.title}}</h1>
			</div>
			<div class="skill-list">
				<table>
					<thead>
						<th width="128"></th>
						<th width="156"></th>
					</thead>
					<tbody>
						<tr ng-repeat="subSkill in skill.details" class="">
							<td>{{subSkill.title}}</td>
							<td>
								<progressbar class="{{getClassColorByLevel(subSkill.lvl)}}" max="100" value="subSkill.lvl">
								</progressbar>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>